.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  .wrap {
    max-width: 1450px;
    margin: 0 auto;
    position: relative;
    height: 100px;

    .logo {
      img {
        position: absolute;
        top: 0;
        left: 30px;
        width: 200px;
        margin-top: -35px;
      }
    }

    nav {
      display: block;
      width: 100%;
      padding: 0;
      margin: 0;

      ul,
      ul li {
        padding: 0;
        margin: 0;
      }

      ul {
        text-align: center;

        li {
          display: inline-block;
          list-style-type: none;
          margin: 0 1.2rem;

          a {
            font-size: 25px;
            color: rgb(33, 164, 207);
            text-transform: uppercase;
            cursor: pointer;
            line-height: 6.5rem;
          }
        }
      }
    }

    .callToActions {
      position: absolute;
      top: 20px;
      right: 80px;

      ul{
        display: flex;
      }

      li {
        display: inline-block;
        margin-right: 30px;

        &:last-child {
          margin-right: 0;
        }
      }

      ul,
      li {
        padding: 0;

        a {
          font-size: 25px;
          color: rgb(33, 164, 207);
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }
}
