.formRow{

    input{
        display: block;
        width: 100%;
        padding: 10px 5px;
        margin: 10px auto;
        font-size: 1.5rem;
        line-height: 1;
        outline: none;
        border: 1px solid;
    }
}